@media (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
  }

  .imbut-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margin */
    padding: 0;
  }

  .imgcam {
    position: absolute;
    /*border: 10px solid #000000;*/
    margin-top: 30%;
    display: block;
    width: 100%;
    height: 60%;
  }
  

  button:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .contaiener {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
  }

  .btn {
    position: absolute;
    top: 85%;
    left: 10%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .btn-startPrediction {
    position: absolute;
    top: 85%;
    left: 36%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-stopPrediction {
    position: absolute;
    top: 85%;
    left: 64%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-toggle_draw {
    position: absolute;
    top: 20%;
    left: 78%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
  }

  .styled-image {
    width: 300px;
    height: 500px;
    border: 2px solid #333;
  }

  /* Style the toggle switch container */
  .toggle-switch {
    position: absolute;
    display: inline-block;
    top: 86%;
    left: 10%;
    width: 60px;
    height: 34px;
  }
  /* Style the indicator when checked */
  .toggle-input:checked + .slider::before {
    transform: translateX(26px);
  }

  /* ------show FSl----/

        /* Styles for the pop-up container */
  .popup { 
    display: none;
    position: fixed;
    margin-top: 40%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    top: 0;
    left: 0;
    width: 60%; /* Adjust the width as needed */
    height: 40%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .popup-content {
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%; /* Adjust the width as needed */
    height: 100%;
    
  }

  /* Styles for the search box */
  .search-box {
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
  }


  /* Styles for the clickable choices */
  .choices {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .choice {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    width: 100%; /* Adjust width as needed */
    height: 100%;
    box-sizing: border-box;
    margin: 5%;
    position: center;
  }

  .choice:hover {
    background-color: #e0e0e0;
  }

  /* Styles for the video container */
  /* CSS for the modal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    background-color: #fdfdfd;
    margin: 40% auto;
    border: 1px solid #888;
    height: 50%;
    width: 100%;
  }

  .close {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #000;
  }
}

@media (min-width: 900px) {
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
  }

  .imbut-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margin */
    padding: 0;
  }

  .imgcam {
    position: absolute;
    /*border: 10px solid #000000;*/
    display: block;
    width: 100%;
    height: 100%;
  }
  

  button:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .contaiener {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
  }

  .btn {
    position: absolute;
    top: 85%;
    left: 10%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .btn-startPrediction {
    position: absolute;
    top: 85%;
    left: 32%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-stopPrediction {
    position: absolute;
    top: 85%;
    left: 55%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-toggle_draw {
    position: absolute;
    top: 85%;
    left: 78%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
  }

  .styled-image {
    width: 300px;
    height: 500px;
    border: 2px solid #333;
  }

  /* Style the toggle switch container */
  .toggle-switch {
    position: absolute;
    display: inline-block;
    top: 86%;
    left: 10%;
    width: 60px;
    height: 34px;
  }
  /* Style the indicator when checked */
  .toggle-input:checked + .slider::before {
    transform: translateX(26px);
  }

  /* ------show FSl----/

        /* Styles for the pop-up container */
  .popup { 
    display: none;
    position: fixed;
    margin-top: 5%;
    top: 0;
    left: 0;
    width: 20%; /* Adjust the width as needed */
    height: 60%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .popup-content {
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%; /* Adjust the width as needed */
    height: 100%;
    
  }

  /* Styles for the search box */
  .search-box {
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
  }


  /* Styles for the clickable choices */
  .choices {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .choice {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    width: 100%; /* Adjust width as needed */
    height: 100%;
    box-sizing: border-box;
    margin: 5%;
    position: center;
  }

  .choice:hover {
    background-color: #e0e0e0;
  }

  /* Styles for the video container */
  /* CSS for the modal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    background-color: #fdfdfd;
    margin: 10% auto;
    border: 1px solid #888;
    height: 50%;
    width: 50%;
  }

  .close {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #000;
  }
}

@media (min-width: 1366px) {
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
  }

  .imbut-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margin */
    padding: 0;
  }

  .imgcam {
    position: absolute;
    /*border: 10px solid #000000;*/
    display: block;
    width: 100%;
    height: 100%;
  }
  

  button:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .contaiener {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
  }

  .btn {
    position: absolute;
    top: 85%;
    left: 10%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .btn-startPrediction {
    position: absolute;
    top: 85%;
    left: 32%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-stopPrediction {
    position: absolute;
    top: 85%;
    left: 55%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-toggle_draw {
    position: absolute;
    top: 85%;
    left: 78%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
  }

  .styled-image {
    width: 300px;
    height: 500px;
    border: 2px solid #333;
  }

  /* Style the toggle switch container */
  .toggle-switch {
    position: absolute;
    display: inline-block;
    top: 86%;
    left: 10%;
    width: 60px;
    height: 34px;
  }
  /* Style the indicator when checked */
  .toggle-input:checked + .slider::before {
    transform: translateX(26px);
  }

  /* ------show FSl----/

        /* Styles for the pop-up container */
  .popup { 
    display: none;
    position: fixed;
    margin-top: 5%;
    top: 0;
    left: 0;
    width: 20%; /* Adjust the width as needed */
    height: 60%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .popup-content {
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%; /* Adjust the width as needed */
    height: 100%;
    
  }

  /* Styles for the search box */
  .search-box {
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
  }


  /* Styles for the clickable choices */
  .choices {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .choice {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    width: 100%; /* Adjust width as needed */
    height: 100%;
    box-sizing: border-box;
    margin: 5%;
    position: center;
  }

  .choice:hover {
    background-color: #e0e0e0;
  }

  /* Styles for the video container */
  /* CSS for the modal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    background-color: #fdfdfd;
    margin: 10% auto;
    border: 1px solid #888;
    height: 50%;
    width: 50%;
  }

  .close {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #000;
  }
}

@media (min-width: 1920px) {
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
  }

  .imbut-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0; /* Remove margin */
    padding: 0;
  }

  .imgposition {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
  }

  .imgcam {
    position: absolute;
    /*border: 10px solid #000000;*/
    display: block;
    width: 80%;
    height: 80%;
  }
  

  button:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .contaiener {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
  }

  .btn {
    position: absolute;
    top: 85%;
    left: 10%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn:hover {
    background-color: #4caf50; /* Green */
    color: white;
  }

  .btn-startPrediction {
    position: absolute;
    top: 85%;
    left: 32%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-stopPrediction {
    position: absolute;
    top: 85%;
    left: 55%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .btn-toggle_draw {
    position: absolute;
    top: 85%;
    left: 78%;
    background-color: #3498db;
    color: white;
    border: 1.5px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
  }

  .styled-image {
    width: 300px;
    height: 500px;
    border: 2px solid #333;
  }

  /* Style the toggle switch container */
  .toggle-switch {
    position: absolute;
    display: inline-block;
    top: 86%;
    left: 10%;
    width: 60px;
    height: 34px;
  }
  /* Style the indicator when checked */
  .toggle-input:checked + .slider::before {
    transform: translateX(26px);
  }

  /* ------show FSl----/

        /* Styles for the pop-up container */
  .popup { 
    display: none;
    position: fixed;
    margin-top: 5%;
    top: 0;
    left: 0;
    width: 20%; /* Adjust the width as needed */
    height: 60%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .popup-content {
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%; /* Adjust the width as needed */
    height: 100%;
    
  }

  /* Styles for the search box */
  .search-box {
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
  }


  /* Styles for the clickable choices */
  .choices {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .choice {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
    width: 100%; /* Adjust width as needed */
    height: 100%;
    box-sizing: border-box;
    margin: 5%;
    position: center;
  }

  .choice:hover {
    background-color: #e0e0e0;
  }

  /* Styles for the video container */
  /* CSS for the modal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    background-color: #fdfdfd;
    margin: 10% auto;
    border: 1px solid #888;
    height: 50%;
    width: 50%;
  }

  .close {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #000;
  }
}

/*------ show FSl end here----*/
